* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


.main {
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    position: relative; 
}

#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar a{
    text-decoration: none;
    background-color: none;
    background-color: blue;
    border-radius: 30%;
    color: white;
}
